<!DOCTYPE html>
<html>
<head>
  <title>Analytics Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/templates/styles.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
  <body>

    <nav>
      <div class="logo">
        <span>Alzhemier</span>
      </div>
      <ul class="nav-items">
        <li><a href="/templates/index.html">Home</a></li>
        <li><a href="/templates/analytics.html">Analytics</a></li>
      </ul>
    </nav>
    

  <div class="container">
    <h1>Age Groups Analysis</h1>
    <canvas id="ageChart"></canvas>
    <h2>Disease Attack Analysis</h2>
    <canvas id="diseaseChart"></canvas>
  </div>

  <script src="/templates/script.js"></script>
</body>
</html>
